main div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: 0 4px 6px var(--color-3);
  border-radius: 10px;
  /* height: auto; */
}

section {
  /* font-family: "Roboto", sans-serif; */
  margin-bottom: 20px;
}
section ul {
  list-style: none;
}

section h2 {
  font-family: "Jaro", sans-serif;
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
}
section p,
section ul li {
  font-family: "Inter", sans-serif;
}
