<div class="scene">
    <!-- refrence for this cube has been made from
             
            https://codepen.io/desandro/pen/KRWjzm 
             
            
            https://3dtransforms.desandro.com/cube-->
    <div class="cube">
        <div class="cube__face cube__face--front">
            <img src="./images/png/a9_large.png" id="cube-img" alt="">
        </div>
        <div class="cube__face cube__face--back">

            <img src="./images/png/a9s_large.png" id="cube-img" alt="">

        </div>
        <div class="cube__face cube__face--right">
            <img src="./images/png/c9_large.png" id="cube-img" alt="">

        </div>
        <div class="cube__face cube__face--left">
            <img src="./images/png/c9r_large.png" id="cube-img" alt="">
        </div>
        <div class="cube__face cube__face--top">
            <img src="./images/png/c9s_large.png" id="cube-img" alt="">
        </div>
        <div class="cube__face cube__face--bottom"><img src="./images/png/m9_large.png" id="cube-img" alt="">
        </div>
    </div>
</div>