<div class="product-cube">



    <div class="scene">
        <h2 class="heading-style-2">Our Products</h2 class="heading-style-2">
        <!-- refrence for this cube has been made from
             
            https://codepen.io/desandro/pen/KRWjzm 
             
            
            https://3dtransforms.desandro.com/cube-->
        <div class="cube">


            <a class="cube__face cube__face--front" href="/products/products.html?id=a9">


                <img src="./images/png/a9_large.png" id="cube-img" alt="">

            </a>
            <a class="cube__face cube__face--back" href="/products/products.html?id=a9s">

                <img src="./images/png/a9s_large.png" id="cube-img" alt="">

            </a>
            <a class="cube__face cube__face--right" href="/products/products.html?id=c9">
                <img src="./images/png/c9_large.png" id="cube-img" alt="">

            </a>
            <a class="cube__face cube__face--left" href="/products/products.html?id=c9r">
                <img src="./images/png/c9r_large.png" id="cube-img" alt="">
            </a>
            <a class="cube__face cube__face--top" href="/products/products.html?id=c9s">
                <img src="./images/png/c9s_large.png" id="cube-img" alt="">
            </a>
            <a class="cube__face cube__face--bottom" href="/products/products.html?id=m9">
                <img src="./images/png/m9_large.png" id="cube-img" alt="">
            </a>
        </div>
    </div>
</div>