<div class="ticker">
    <section class="ticker-items" id="section-a">

        <div class="ticker-item">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Tesla_logo.png/1200px-Tesla_logo.png"
                alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/toyota.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/bmw.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/Lamborghini_Logo.svg.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/ford.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/fisker.png" alt="">

        </div>

    </section>
    <!-- ticker section b so that we can give the looping effect, it is just the dublicate of the section a-->
    <section class="ticker-items" id="section-b">

        <div class="ticker-item">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Tesla_logo.png/1200px-Tesla_logo.png"
                alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/toyota.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/bmw.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/Lamborghini_Logo.svg.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/ford.png" alt="">

        </div>


        <div class="ticker-item">

            <img src="./images/company/fisker.png" alt="">

        </div>

    </section>
</div>