<div class="ticker">
    <section class="ticker-items" id="section-a">
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Tesla_logo.png/1200px-Tesla_logo.png"
                    alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/toyota.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/bmw.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/Lamborghini_Logo.svg.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/ford.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/fisker.png" alt="">

            </div>
        </a>
    </section>
    <!-- ticker section b so that we can give the looping effect-->
    <section class="ticker-items" id="section-a">
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Tesla_logo.png/1200px-Tesla_logo.png"
                    alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/toyota.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/bmw.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/Lamborghini_Logo.svg.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/ford.png" alt="">

            </div>
        </a>
        <a href="" target="_blank">
            <div class="ticker-item">

                <img src="./images/company/fisker.png" alt="">

            </div>
        </a>
    </section>
</div>